<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BedrockLand</title>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script type="text/javascript" src='/static/js/main.js'></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg fixed-top ">  
	
  <!-- logo for large screen -->
  <img class="d-none d-md-block" src="/static/images/logo.png" />

  <!-- logo for small screen -->
  <img class="d-md-none" src="/static/images/mobile_logo.png" width="50" />


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  
 <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse " id="navbarSupportedContent"><ul class="navbar-nav mr-4">
<li class="nav-item">
    <a class="nav-link" data-value="main" href="/">Главная</a>
</li>
<li class="nav-item">
    <a class="nav-link " data-value="apply"href="/apply">Заявка</a>
</li>
<li class="nav-item">  
   <a class="nav-link " data-value="discord" href="">Дискорд</a>
</li>
</ul> 
</div>
</nav>

<header class="header">
  <div class="overlay"></div>
<div class="container">
    <div class="description">
   <h1>Приватный сервер Minecraft
    <p>BedrockLand - новый приватный сервер, где ты сможешь проявить себя. На территории сервера игроки строят свои города и посёлки, проводят РП ивенты и не только! На этом сервере ты сможешь найти себе новых друзей или просто завести новые знакомства с людьми. Поддержка нашего сервера всегда выслушает тебя и поможет чем сможет. На этом сервере нету тупых школеров и прочих неадекватов, сервер приватный и вход только по проходке, поэтому массу отсеивают и выбирают самых адекватных. Чтобы попасть на сервер, тебе всего-лишь нужно заполнить анкету и подать заявку. После, система автоматически добавит тебя на сервер и ты сможешь зайти. В общем сервер всегда рад таким игрокам как ты! Перед подачей заявки ознакомьтесь с правилами проекта в нашем Discord сервере!</p>
 <a class="btn btn-outline-secondary btn-lg" href="/apply">Подать заявку</a></h1>
</div>
   </div>
</header>
</body>
</html>